*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
display:flex;
background:#f4f4f4;
}

.sidebar{
width:240px;
height:100vh;
background:#232938;
color:white;
padding:20px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:15px;
}

.sidebar li:hover{
background:#384258;
}

.main{
flex:1;
padding:30px;
}

.top{
display:flex;
justify-content:space-between;
align-items:center;
}

button{
background:#007bff;
color:white;
border:none;
padding:10px 15px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

table{
width:100%;
background:white;
margin-top:20px;
border-collapse:collapse;
}

th,td{
padding:15px;
border-bottom:1px solid #ddd;
text-align:left;
}

.edit{
background:#0d6efd;
padding:8px;
border-radius:5px;
}

.delete{
background:red;
padding:8px;
border-radius:5px;
}
