body{
margin:0;
font-family:Arial;
display:flex;
background:#f4f4f4;
}

.sidebar{
width:230px;
height:100vh;
background:#1f2430;
color:white;
padding:20px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
padding:15px;
}

.main{
flex:1;
padding:20px;
}

.cards{
display:flex;
gap:20px;
}

.card{
flex:1;
padding:20px;
color:white;
border-radius:10px;
}

.blue{background:#0066ff;}
.green{background:#00994d;}
.sky{background:#00cfff;}
.gray{background:#777;}

table{
width:100%;
margin-top:30px;
background:white;
border-collapse:collapse;
}

th,td{
padding:15px;
border:1px solid #ddd;
}