*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
display:flex;
background:#f4f4f4;
}

.sidebar{
width:230px;
height:100vh;
background:#1f2430;
color:white;
padding:20px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar ul{
list-style:none;
}

.sidebar ul li{
padding:15px;
cursor:pointer;
}

.sidebar ul li:hover{
background:#30384a;
border-radius:5px;
}

.main{
flex:1;
padding:20px;
}

.header{
font-size:35px;
margin-bottom:20px;
}

.welcome{
background:white;
padding:20px;
border-radius:10px;
margin-bottom:20px;
}

.cards{
display:flex;
gap:20px;
}

.card{
flex:1;
color:white;
padding:20px;
border-radius:10px;
}

.blue{
background:#0066ff;
}

.green{
background:#00a651;
}

.sky{
background:#00cfff;
}

.gray{
background:#666;
}

table{
width:100%;
background:white;
margin-top:30px;
border-collapse:collapse;
}

th,td{
padding:15px;
border-bottom:1px solid #ddd;
text-align:left;
}
